body {
    font-size: 40px;
    background-color: cornflowerblue;
}
.very-cool {
    font-weight: bold;
    text-decoration: underline;
}
.box {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    padding: 2px;
    margin: 100px;
}
.one {
 color: green;
}